@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
      font-family: "Fira Code";
      src: url("/fonts/FiraCode-VariableFont_wght.ttf");
      font-display: swap;
    }

    @font-face {
      font-family: "Noto Sans";
      src: url("/fonts/NotoSans-Regular.ttf");
      font-display: swap;
    } 

    @font-face {
      font-family: "Secular One";
      font-weight: 400;
      src: url("/fonts/SecularOne-Regular.ttf");
      font-display: swap;
    } 
    @font-face {
      font-family: "Arvo";
      src: url("/fonts/Arvo-Regular.ttf");
      font-weight: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "Arvo";
      src: url("/fonts/Arvo-Bold.ttf");
      font-weight: bold ;
      font-display: swap;
    }
    @font-face {
      font-family: "Arvo";
      src: url("/fonts/Arvo-BoldItalic.ttf");
      font-weight: bold ;
      font-style: italic ;
      font-display: swap;
    }
    @font-face {
      font-family: "Arvo";
      src: url("/fonts/Arvo-Italic.ttf");
      font-weight: normal ;
      font-style: italic ;
      font-display: swap;
    }

    ol {
      list-style-type: decimal;
      margin-left: 2rem;
    }

    code {
      font-family: "Fira Code", monospace;
      font-weight: normal;
      color: #f8f8f2;
      background-color: #4f46e5;
      padding: 0 0.4rem;
      border-radius: 0.3rem;
    }

    body {
      font-family: "Noto Sans", sans-serif;
    }

    a {
      font-style: italic;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 5px;
      text-decoration-color: #38bdf8;
    }
    
    a:hover {
      text-decoration-color: #0ea5e9;
    }

    h1 {
      font-family: "Arvo", serif;
    }

    h2, h3, h4{
      font-family: "Secular One", serif;
      font-weight: 400;
    }
}